div {
  font-size: 15;
}

i {
  font-size: 20px;
}

button {
  border: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 22;
}

i {
  font-size: 15;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 32;
}

.table thead tr {
  padding: 0;
  margin: 0;
  color: #fff;
  background-color: #999999;
}

.table tr {
  height: 30px;
  margin-top: 20px;
  border-top: 4px solid #fff;
  background-color: #ced7e488;
  font-size: 17px;
}

.table tr td {
  text-align: left;
  width: 130px;
  padding: 0;
  margin: 0;
}

.table tr td.command {
  text-align: right;
  padding-right: 10px;
}

.table tr td input {
  outline: none;
  border: none;
  padding-left: 10px;
  height: 26px;
  background-color: #999999;
}
