div {
  font-size: 15;
}

i {
  font-size: 20px;
}

button {
  border: none;
  cursor: pointer;
}

button.head-button {
  background-color: #999999;
}

button.create-note {
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 3px;
  margin: 5px auto 0px auto;
  position: relative;
  left: 892px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 17;
}

i {
  font-size: 22px;
  display: inline;
  background-color: #ced7e488;
}

i.head {
  display: block;
  color: #ffffff;
  font-size: 14px;
  background-color: #999999;
}

i.first-row {
  background-color: #999999;
  color: #000000;
}

.round-fon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #999999;
}

.visible {
  display: none;
}

.selected-border {
  border: 3px solid #d4c671;
  background-color: #d4c671;
  height: 35px;
}

.table,
.archived-table,
.categories-table {
  border-collapse: collapse;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 20px;
  border: none;
}

.table thead tr,
.archived-table thead tr,
.categories-table thead tr {
  padding: 0;
  margin: 0;
  background-color: #999999;
}

.table thead tr td,
.archived-table thead tr td,
.categories-table thead tr td {
  color: #fff;
  padding-left: 10px;
}

.table thead tr td.first-column,
.archived-table thead tr td.first-column,
.categories-table thead tr td.first-column {
  background-color: #999999;
}

.table thead tr td.command,
.archived-table thead tr td.command,
.categories-table thead tr td.command {
  background-color: #999999;
}

.table tr,
.archived-table tr,
.categories-table tr {
  height: 30px;
  margin-top: 20px;
  border: none;
  border-top: 4px solid #ffffff;
  background-color: #ced7e488;
  font-size: 15px;
}

.table tr td,
.archived-table tr td,
.categories-table tr td {
  border: none;
  text-align: left;
  width: 130px;
  padding: 0;
  margin: 0;
  color: #ccc4c4;
}

.table tr td.command,
.archived-table tr td.command,
.categories-table tr td.command {
  text-align: right;
  padding-right: 10px;
  width: 75px;
  background-color: #ced7e488;
}

.table tr td input,
.archived-table tr td input,
.categories-table tr td input {
  width: 132px;
  font-size: 14px;
  outline: none;
  border: none;
  padding-left: 8px;
  height: 26px;
  background-color: #ced7e488;
}

.table tr td input:not(:disabled),
.archived-table tr td input:not(:disabled),
.categories-table tr td input:not(:disabled) {
  color: #000000ff;
}

.table tr td.first-column,
.archived-table tr td.first-column,
.categories-table tr td.first-column {
  width: 20px;
  padding-left: 2px;
  background-color: #ced7e488;
}

.archived-table {
  position: absolute;
  top: 20px;
  right: 200px;
  z-index: 1;
  border-top: 3px solid #000000;
  border: 3px solid #000000;
  background-color: #999999;
}

.archived-table tr {
  border-top: 3px solid #000000;
}

.categories-table .center {
  text-align: center;
}

.categories-table tbody tr td input {
  text-align: center;
}

.categories-table tbody tr td:nth-child(3n + 1) input {
  text-align: left;
}
